{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block main %}

    <div class="wrapper">
        <section>
            <h3>{{ 'admin.category'|trans }}
                <button type="button" class="cta" id="add-category-btn">{{ 'admin.category.add'|trans }}</button>
            </h3>

            <ul>
                {% if categories|length == 0 %}
                    <li>
                        <p class="italic">{{ 'admin.category.empty'|trans }}</p>
                    </li>
                {% endif %}
                {% for category in categories %}
                    <li class="category">
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h3>{{ 'admin.posts'|trans }}
                <button type="button" class="cta" id="add-post-btn">{{ 'admin.posts.add'|trans }}</button>
            </h3>

            {% include 'components/post-list.twig' with {'posts': posts} %}
        </section>
    </div>

    <dialog data-title="{{ 'admin.posts.add.title'|trans }}" data-confirm="{{ 'dialog.confirm'|trans }}"
            data-cancel="{{ 'dialog.cancel'|trans }}" id="add-post-dialog">
        {{ form_start(newPostForm) }}

        <div>
            {{ form_row(newPostForm.title) }}
            {{ form_row(newPostForm.date) }}
        </div>
        {{ form_row(newPostForm.link) }}

        <ul class="tags"
            data-index="{{ newPostForm.categories|length > 0 ? newPostForm.categories|last.vars.value + 1 : 0 }}"
            data-prototype="{{ form_widget(newPostForm.categories.vars.prototype)|e('html_attr') }}">
            {% for tag in newPostForm.categories %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>

        {{ form_row(newPostForm.description) }}

        {{ form_end(newPostForm) }}
    </dialog>
{% endblock %}