{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('resources') }}
{% endblock %}

{% block main %}
    <div class="content-wrapper">
        <div class="head">
            <h1 class="headline">{{ 'resources.title'|trans }}</h1>
            <h4 class="subtitle">{{ 'resources.subtitle'|trans }}</h4>

            {% if not is_granted('IS_AUTHENTICATED') %}
                <a href="{{ path('app_login') }}">{{ 'login.action'|trans }}</a>
            {% else %}
                <a href="{{ path('app_logout') }}">{{ 'login.logout'|trans }}</a>
            {% endif %}

            <button type="button">{{ 'resources.add'|trans }}</button>
        </div>

        {% include 'components/post-list.twig' with {'posts': posts} %}
    </div>
{% endblock %}