{% extends 'index.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block main %}

    <div class="content-wrapper">
        <h1 class="headline">Remi Caulier</h1>
        <h2 class="subtitle">{{ 'home.subtitle'|trans }}</h2>

        <section>
            <h3 class="section-title">
                <div class="sep-line extended"></div> {{ 'home.sections.section1.title'|trans }}</h3>
            <p>{{ 'home.sections.section1.text'|trans }}</p>
        </section>

        <section id="experiences">
            <h3 class="section-title">
                <div class="sep-line"></div> {{ 'home.sections.section2.title'|trans }}</h3>

            <div class="section-content">
                <div class="tab-selector">
                    <button class="tab-select current" data-tab-container="#experiences-tabs"
                            data-tab="#tab-1">{{ 'home.sections.section2.exp1.title'|trans }}</button>
                    <button class="tab-select" data-tab-container="#experiences-tabs"
                            data-tab="#tab-2">{{ 'home.sections.section2.exp2.title'|trans }}</button>
                    <button class="tab-select" data-tab-container="#experiences-tabs"
                            data-tab="#tab-3">{{ 'home.sections.section2.exp3.title'|trans }}</button>
                </div>

                <div class="tabs" id="experiences-tabs">
                    <div class="tab current" id="tab-1">
                        <h4>{{ 'home.sections.section2.exp1.job'|trans|raw }}</h4>
                        <h5 class="dates">{{ 'home.sections.section2.exp1.dates'|trans|raw }}</h5>

                        <p>{{ 'home.sections.section2.exp1.description'|trans|raw }}</p>
                    </div>
                    <div class="tab" id="tab-2">
                        <h4>{{ 'home.sections.section2.exp2.job'|trans|raw }}</h4>
                        <h5 class="dates">{{ 'home.sections.section2.exp2.dates'|trans|raw }}</h5>

                        <p>{{ 'home.sections.section2.exp2.description'|trans|raw }}</p>
                    </div>
                    <div class="tab" id="tab-3">
                        <h4>{{ 'home.sections.section2.exp3.job'|trans|raw }}</h4>
                        <h5 class="dates">{{ 'home.sections.section2.exp3.dates'|trans|raw }}</h5>

                        <p>{{ 'home.sections.section2.exp3.description'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3 class="section-title">
                <div class="sep-line"></div> {{ 'home.sections.section3.title'|trans }}</h3>

            <div class="project">
                <div class="project-card">
                    <h4 class="project-title">{{ 'home.sections.section3.project1.title'|trans|raw }}</h4>

                    <p class="project-description">{{ 'home.sections.section3.project1.description'|trans }}</p>

                    <p class="project-techno">{{ 'home.sections.section3.project1.techno'|trans }}</p>
                </div>
                <div class="project-cover">
                    <img src="{{ asset('build/images/hebergos-cover.png') }}" alt="HebergOS Home page">
                </div>
            </div>

            <div class="project">
                <div class="project-card">
                    <h4 class="project-title">{{ 'home.sections.section3.project2.title'|trans|raw }}</h4>

                    <p class="project-description">{{ 'home.sections.section3.project2.description'|trans }}</p>

                    <p class="project-techno">{{ 'home.sections.section3.project2.techno'|trans }}</p>
                </div>
                <div class="project-cover">
                    <img src="{{ asset('build/images/hebergos-cover.png') }}" alt="HebergOS Home page">
                </div>
            </div>

            <div class="project">
                <div class="project-card">
                    <h4 class="project-title">{{ 'home.sections.section3.project3.title'|trans|raw }}</h4>

                    <p class="project-description">{{ 'home.sections.section3.project3.description'|trans }}</p>

                    <p class="project-techno">{{ 'home.sections.section3.project3.techno'|trans }}</p>
                </div>
                <div class="project-cover">
                    <img src="{{ asset('build/images/hebergos-cover.png') }}" alt="HebergOS Home page">
                </div>
            </div>
        </section>

        <section>
            <h3 class="section-title">
                <div class="sep-line"></div> {{ 'home.sections.section4.title'|trans }}</h3>
        </section>
    </div>
{% endblock %}