<div class="post">
    <h4 class="title">{{ post.title }} <span class="date">{{ post.date|date('d/m/y') }}</span></h4>
    <a class="link" href="{{ post.link }}" target="_blank">{{ post.link }}</a>

    <p class="description">{{ post.description }}</p>

    <p>
        {% for category in post.categories %}
            <span class="category">{{ category.name }}</span>
        {% endfor %}
    </p>
</div>